doctype html
html(lang='pt-BR')
	head
		title=t('ZIRO - The agile tool')
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/libs/bootstrap-3.3.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='https://use.typekit.net/czx4mqe.js')
		script(type='text/javascript').
			try{Typekit.load({ async: true });}catch(e){}
	body
		div(class="container")
			block content
		script(src='/libs/jquery-1.12.1.min.js')
		script(src='/libs/js.cookie.js')
		script(src='/libs/bootstrap-3.3.6/js/bootstrap.min.js')
		script(src='/javascripts/sign.js')
