extends layout

block content
	div(class='row')
		div(class='col-md-4')
			&nbsp;
		div(class='col-md-4')
			div(style='text-align: center; margin-bottom: 10px;')
				h1(style='margin-bottom:0px; padding-bottom:0px; font-family:marydale; font-weight:900; font-size: 36pt;' class="tk-marydale") ZIRO
				small=t('The agile tool')
			include ../common/alerts.jade
			form(action="/signup", method="POST")
				fieldset
					div(class='form-group')
						label(for='input_email', class='sr-only')=t('sign:E-mail')
						input(type='email', name="email", id="input_email", class="form-control", required, autofocus, placeholder=t('sign:E-mail'))
					div(class='form-group')
						label(for='input_password', class='sr-only')=t('sign:Password')
						input(type='password', name="password", id="input_password", class="form-control", required, autofocus, placeholder=t('sign:Password'))
					div(class='form-group')
						label(for='input_confirmpassword', class='sr-only')=t('sign:Confirm Password')
						input(type='password', name="confirm_password", id="input_confirm_password", class="form-control", required, autofocus, placeholder=t('sign:Confirm Password'))
					div(class='form-group')
						button(type='submit' class='btn btn-lg btn-primary btn-block')=t('sign:Sign up')
			div(class='row')
				div(class='col-sm-6')
					include ../common/change_locale.jade
				div(class='col-sm-6', style="text-align: right")
					small
						a(href='/signin')=t('sign:You do not have an account? Click here!')
		div(class='col-md-4')
			&nbsp;
