extends layout

block content
	div(class='row')
		div(class='col-md-4')
			&nbsp;
		div(class='col-md-4')
			div(style='text-align: center; margin-bottom: 10px;')
				h1(style='margin-bottom:0px; padding-bottom:0px; font-family:marydale; font-weight:900; font-size: 36pt;' class="tk-marydale") ZIRO
				small=t('The agile tool')
			include ../common/alerts.jade
			form(action="/signin", method="POST", class="signin")
				fieldset
					div(class='form-group')
						label(for='input_email', class='sr-only')=t("sign:E-mail")
						input(type='email', name='email', id="input_email", class="form-control", placeholder=t("sign:E-mail"), required, autofocus)
					div(class='form-group')
						label(for='input_password', class='sr-only')=t("sign:Password")
						input(type='password', name='password', id="input_password", class="form-control", placeholder=t("sign:Password"), required, autofocus)
					div(class='form-group')
						button(type='submit' class='btn btn-lg btn-primary btn-block')=t("sign:Sign in")
			div(class='row')
				div(class='col-sm-6')
					include ../common/change_locale.jade
				div(class='col-sm-6', style="text-align: right")
					small
						a(href='/signup')=t("sign:Create a new account")
		div(class='col-md-4')
			&nbsp;
