nav(class="navbar navbar-inverse navbar-static-top navbar-lower")
	div(class="container")
		div(class="collapse navbar-collapse")
			ul(class="nav navbar-nav")
				li(class=(contains(originalUrl,'\/administration\/users')?"active":""))
					a(href="/administration/users" class="btn-xs")
						=t("admin:USERS")
