extends ../layout

block navbar-lower
	include menu
block content
	div(class="container")
		div(class="panel panel-default")
			div.panel-heading=t("admin:All Users")
			div.panel-body
				=t("admin:This is list of users")
				include ../common/alerts.jade
			table.table
				thead
					tr
						th=t("admin:Name")
						th=t("admin:E-mail")
						th=t("admin:Roles")
				tbody
					each user in users
						tr
							td=user.name
							td=user.email
							td
								div.btn-group
									button(class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
										=t("admin:ADD ROLE")
										| &nbsp;
										span.caret
									ul.dropdown-menu
										li
											form(id="add_role_guest" action="/administration/users/"+user.id+"/roles/guest" method="POST" style="display: none")
												input(type="hidden" name="_method" value="PUT")
											a(href="javascript:void(0);" onclick="$('#add_role_guest').submit()")
												=t("admin:Guest")
										li
											form(id="add_role_administration" action="/administration/users/"+user.id+"/roles/administration" method="POST" style="display: none")
												input(type="hidden" name="_method" value="PUT")
											a(href="javascript:void(0);" onclick="$('#add_role_administration').submit()")
												=t("admin:Administration")
								| &nbsp;
								each role in roles_of_user[user.id]
									if user.id != role
										span
											=role
											| &nbsp;
											form(action="/administration/users/"+user.id+"/roles/"+role method="POST" style="display: inline")
												input(type="hidden" name="_method" value="DELETE")
												a(href="javascript:void(0);" onclick="$(this).parent().submit()")
													=t("admin:[remove]")
												| &nbsp;
block javascript
	script(type='text/javascript').
