doctype html
html(lang='pt-BR')
	head
		title=t('ZIRO - The agile tool')
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(class="container")
			h1= message
			h2= error.status
			pre #{error.stack}
		script(src='/javascripts/jquery-1.12.1.min.js')
		script(src='/javascripts/js.cookie.js')
		script(src='/bootstrap/js/bootstrap.min.js')
