extends ../layout

block content
	div(class="container")
		div(class="panel panel-default")
			div.panel-heading=t("users:Edit your profile")
			div.panel-body
				include ../common/alerts.jade
				form(method="POST" action="/users/" + user.id)
					div(class="form-group")
						label(for="email" class="sr-only")=t("users:E-mail")
						input(class="form-control" name="email" id="email" type="text" disabled value=user.email placeholder=t("users:E-mail"))
					div(class="form-group")
						label(for="name" class="sr-only")=t("Name")
						input(class="form-control" name="name" id="name" type="text" value=user.name placeholder=t('users:Name'))
					button(type="submit", class="btn btn-default pull-right" aria-label=t("users:Save"))
						span(class="glyphicons glyphicons-ok" aria-hidden="true")
						=t("users:Save")
