/* icons fixed position */
.glyphicons {
  margin-top: .2em; }

/* footer */
html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 60px;
  padding-top: 50px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f8f8f8;
  border-top-color: #e7e7e7;
  border-top-width: 1px;
  border-top-style: solid;
  border-image-repeat: stretch; }

/* navbar */
.navbar-lower {
  min-height: 28px !important;
  margin-bottom: 0px !important; }

.navbar-lower .navbar-nav {
  min-height: 28px !important; }

.navbar-lower .navbar-nav > li > a {
  padding-top: 4px !important;
  padding-bottom: 0 !important;
  height: 28px; }

/* fit for container */
body > .container {
  padding: 20px 15px 0; }

/*# sourceMappingURL=style.css.map */