if flash_warning.length > 0
	div(class='alert alert-dismissible alert-warning')
		button(type='button', class="close", data-dismiss="alert")='x'
		p=t(flash_warning[0])
if flash_danger.length > 0
	div(class='alert alert-dismissible alert-danger')
		button(type='button', class="close", data-dismiss="alert")='x'
		p=t(flash_danger[0])
if flash_success.length > 0
	div(class='alert alert-dismissible alert-success')
		button(type='button', class="close", data-dismiss="alert")='x'
		p=t(flash_success[0])
if flash_info.length > 0
	div(class='alert alert-dismissible alert-info')
		button(type='button', class="close", data-dismiss="alert")='x'
		p=t(flash_info[0])
