button(type='button', class='btn btn-default btn-xs dropdown-toggle', id='change_locale', data-toggle='dropdown', aria-haspopup="true", aria-expanded="true")
	=t("Change language")
	&nbsp;
	span(class='caret')
ul(class='dropdown-menu', aria-labelledby="change_locale", id="locales")
	li
		a(href='#pt-BR')=t("Brazilian Portuguese")
	li
		a(href='#en')=t("English")