div(class="modal fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="modalErrorLabel")
	div(class="modal-dialog" role="document")
		div.modal-content
			div.modal-header
				button(class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true")
						| &times;
				h4(class="modal-title" id="modalErrorLabel")
			div.modal-body
				pre.modal-pre
			div.modal-footer
				button(class="btn btn-default" data-dismiss="modal")
					=t("Close")
