nav(class="navbar navbar-default navbar-fixed-top")
	div(class="container")
		div(class="navbar-header")
			a(class="navbar-brand tk-marydale" style="font-family:marydale; font-weight:900; font-size: 26pt;" href="/") ZIRO
		div(class="collapse navbar-collapse")
			ul(class="nav navbar-nav")
				li(class=(contains(originalUrl,'\/products')?"active":""))
					a(href="/products")
						=t("PRODUCTS")
				li(class=(contains(originalUrl,'\/sprints')?"active":""))
					a(href="/sprints")
						=t("SPRINTS")
				li(class=(contains(originalUrl,'\/administration')?"active":""))
					a(href="/administration")
						=t("ADMINISTRATION")
			ul(class="nav navbar-nav navbar-right")
				li(class="dropdown")
					a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")
						span(class="glyphicons glyphicons-user" aria-hidden="true")
						span &nbsp;
						=t("Profile")
						span &nbsp;
						span.caret
					ul(class="dropdown-menu")
						li
							a(href="/users/" + user.id)
								=t("Edit")
						li(role="separator" class="divider")
						li
							a(href="/signout")
								=t("Sign out")
